# Python
venv/
.venv/
**/venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# Environment
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Databases
*.db

# Vector databases
vectorstore/
chroma/
chroma_db/

# User uploads
user_data/
uploads/

# Logs
*.log
